/* Reset Layout*/
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-clr: #37517e;
  --secondary-clr: #47b2e4;
}

/* Page Size */
.container-hm {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-clr);
  color: white;
}
.container-ab {
  width: 100vw;
  height: 100vh;
}
.container-sv {
  width: 100vw; /* container gawe iki*/
  height: 100vh;
}

.container-ab {
  width: 100vw;
  height: 100vh;
}

.container-ct {
  width: 100vw;
  height: 100vh;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  background-color: #42516b;
}
.nav-logo a {
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  color: white;
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-link {
  list-style-type: none;
}
.nav-link a {
  text-decoration: none;
  color: white;
}
.nav-btn {
  width: 100px;
  height: 30px;
  border: 2px solid var(--secondary-clr);
  color: white;
  border-radius: 15px;
  background-color: transparent;
}
.home-content {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
}
.home-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  flex: 1;
}
.home-title {
  font-size: 40px;
}
.home-btn {
  margin-top: 2rem;
  display: flex;
  gap: 10px;
}
.home-btn img{
  position: relative;
  top: .3rem;
  left: .5rem;
  height: 2rem;
  width: 2rem;
}
.home-btn-get {
  margin-top: .3rem;
  width: 100px;
  height: 35px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  background-color: var(--secondary-clr);
}
.home-btn-watch {
  width: 90px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #fff;
}
.home-pict{
  flex: 1;
}

.clients{
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: .5rem 5rem;
  background-color: #f3f5fa;
}
.clients img{
  width: 5%;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  color: var(--primary-clr);
  text-align: center;
  padding: 2rem;
}
.aboutUs .text{
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: left;
}
.aboutUs .text button{
  display: block;
  background-color: #fff;
  padding: .3rem 1rem;
  margin-top: 1rem;
  color: var(--secondary-clr);
  border: solid .2rem var(--secondary-clr);
  border-radius: .5rem;
}
.whyUs{
  display: flex;
  background-color: #f3f5fa;
  padding: 3rem;
}
.whyUs .text{
  display: flex;
  flex-direction: column;
  color: var(--primary-clr);
  
}
/* ------------------- */

/* Portfolio */
.container-pf {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  margin: 50px 0px;
  flex-direction: column;
  align-items: center;
}

.pf-title {
  font-size: 32px;
  color: #37517e;
  font-weight: bold;
  position: relative;
  width: 200px;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}
.pf-title::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 1px;
  bottom: 1px;
  left: 15%;
  background-color: black;
}
.pf-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: 1px;
  left: 36%;
  bottom: 0;
  background-color: #47b2e4;
}
.pf-prg  {
  width: 80%;
  color: #37517e;
  /* font-size: 18px; */
  margin: 20px 0px;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-item{
  display: flex;
  width: 100%;
  justify-content: center;
}


.portfolio-item li button{
  font-weight: 500;
  transition: all 0.3s;
  color: #444444;
  margin: 5px 5px;
  padding: 8px 20px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  background:transparent;
  border-radius: 50px;
  transition: all 0.3s;
}
.portfolio-item li button:hover{
  background-color: black;
  color: white;
}
.portfolio-item li button:focus{
  background-color: black;
  color: white;
}
/* ------------ */
.portfolio-img {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1367px;
  gap:1rem;
  justify-content:center;
}
.portfolio-img li {
  width: 380px;
  height: 30%;
  display: flex;
  overflow: hidden;
}
.portfolio-img li img{
  transition: all 1s;
}
.portfolio-img li img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* /Portfolio */

/* ------------------------ */

/* Team */
.container-tm {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
  background: #eff2f8;
  padding: 50px 0px;
}
.tm-title {
  font-size: 32px;
  color: #37517e;
  font-weight: bold;
  position: relative;
  width: 200px;
  text-align: center;
  padding-bottom: 20px;
}
.tm-title::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  bottom: 1px;
  left: 20%;
  background-color: black;
}
.tm-title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: 1px;
  left: 36%;
  bottom: 0;
  background-color: #47b2e4;
}
.tm-prg  {
  width: 80%;
  color: #37517e;
  /* font-size: 18px; */
  margin: 20px 0px;
  text-align: center;
  margin-bottom: 40px;
}
.team{
  display: flex;
  max-width: 1367px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px 20px;
}
.member{
  display: flex;
  border-radius: 10px;
  width: 600px;
  padding: 25px 0px 10px 25px;
  color: #37517e;
  box-shadow: 10px 8px 8px rgba(147, 146, 146, 0.169);
  background-color: #fff;
  transition: all 1s;
  cursor: pointer;
}
.member:hover{
  transform: translateY(-10px);
  
}
.pic{
  width: 180px;
  overflow: hidden;
  height: 180px;
  border-radius: 100%;
}
.pic img{
  width:100%;
  /* object-fit: cover; */
}
.member-info{
  width: 65%;
  margin: 0px 0px 0px 25px;
}
.member-info h4{
  font-size: 24px;
  color: #37517e;
  margin-bottom: 5px;
 
}
.member-info span{
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;

}
.member-info span::after{
  content: "";
  position: absolute;
  width: 70px;
  opacity: 50%;
  bottom: 1;
  bottom: 0;
  left: 2%;
  height: 1px;
  background-color: #37517e ;
}
.member-info p{
  margin-top: 30px;
  font-size: 15px;
}
.social i{
  border-radius: 50px;
  width: 32px;
  height: 32px;
  padding-top: 8px;
  background: #eff2f8;
  text-align: center;
  margin: 15px 5px;
  transition: all 0.5s;
  cursor: pointer;
}
.social i:hover{
  background: #47b2e4;
  color: white;
}

/* /Team */
/* --------------------- */

/* Pricing */
.container-pr {
  width: 100vw;
  display: flex;
  margin: 50px 0px;
  flex-direction: column;
  align-items: center;
}

.pricing{
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: 40px;
  justify-content: center;
  flex-wrap: wrap;
}
.pricing .box {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
  transition: all 1s;
}
.pricing .box:hover{
  transform: translateY(-5px);
  box-shadow: 0 3px 10px -2px #2152a6;
}


.pricing h4 span{
  display: block;
}
.pricing h3 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  color: #37517e;
}
.pricing h4 {
  font-size: 48px;
  color: #37517e;
  font-weight: 400;
  margin-bottom: 25px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: #47b2e4;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: rgb(53, 23, 23);
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.box ul i {
  color: #28a745;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}
.pricing ul .x i{
  color: #ccc;
}
.box ul .x,
.box ul .x
{
  color: #ccc;
  text-decoration: line-through;
}
.box button{
  display: inline-block;
  padding: 12px 35px;
  border-radius: 50px;
  color: #47b2e4;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  border: 1px solid #47b2e4;
  cursor: pointer;
}
.box button:hover{
  background-color: #47b2e4;
  color: #fff;
}
.box button:focus{
  background-color: #47b2e4;
  color: #fff;
}

/* /Pricing */



/* Responsive */

/* Responsive desktop */
@media screen and (min-width:1170px) {
  /* Portfolio */
  .portfolio-img li:nth-child(5){
    margin-top: -128px;
  }
  .portfolio-img li:nth-child(6){
    margin-top: -170px;
  }
  .portfolio-img li:nth-child(7){
    margin-top: -190px;
  }
  .portfolio-img li:nth-child(9){
    margin-top: -44px;
  }
  /* /Portfolio */

  /* -------------- */
}

/* /Responsive Desktop */

/* Responsive Tablet */
@media screen and (max-width:1170px) and (min-width:769px){

  /* Portfolio */
  .portfolio-img{
    padding: 0px 20px;
  }
  .portfolio-img li:nth-child(5){
    margin-top: -0px;
  }
  .portfolio-img li:nth-child(4){
    margin-top: -130px;
  }
  .portfolio-img li:nth-child(6){
    margin-top: -95px;
  }
  .portfolio-img li:nth-child(7){
    margin-top: 1px;
  }
  .portfolio-img li:nth-child(8){
    margin-top: -95px;
  }
  .portfolio-img li:nth-child(9){
    margin: -86px 0px 0px 398px;
  }
  /* /Portfolio */
  
  /* ---------------- */
}
/* /Responsive Tablet */


/* Responsive Ipad Mini - Mobile*/
@media screen and (max-width:768px) and (min-width:529px) {

  /* Portfolio */
  .portfolio-img{
    flex-direction: column;
    justify-content: center;
  }
  .portfolio-img li{
    width: 90vw;
  }
  /* /Portfolio */

  /* ------------ */

  /* Team */
  .member{
    width: 100%;
  }
  .pic img{
    border-radius: 100%;
    object-fit:cover ;
  } 
  /* /Team */

  /* -------------------- */
}
/* /Responsive Ipad Mini - Mobile */

/* Reponsive Mobile */
@media screen  and (max-width:529px) {

  /* Team */
  .member{
    width:100%;
    
  }
  .pic {
    width: 40vw;
    height: 15vh;
  }
  .member h4{
    font-size: 5vw;
  }
  .member span{
    font-size: 4vw;
  }
  .member p{
    font-size: 3vw;
  }
  .social i{
    font-size: 3vw;
    margin: 5px 0px;
  }
  /* Team */

  /* -------------------- */

}

/* /Reponsive Mobile */

.container-p4{
    display: flex;
    flex-direction: column;
}
.faq{
    display: flex;
    flex-direction: column;
    background-color: #f3f5fa;
    text-align: center;
    gap: 1rem;
    padding: 1%;
}

.faq h1{
    color: #37517e;
}

.faq p{
    margin: 0 10%;
}

.garis{
    margin: auto;
    height: .1rem;
    width: 15%;
    background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(90deg, grey, #47b2e4, grey) border-box;
    border: .1rem solid transparent;
}

.faq ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    margin: 0 20%;
}

.faq li p{
    margin: 0 1rem;
}

.faq li{
    list-style: none;
    flex-direction: column;
    background-color: #fff;
}

.faq .jawab{
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: 500ms;
}

.faq li:hover .jawab{
    max-height: 20rem;
}

.faq li:hover .arah{
    transform: rotate(180deg);
    color: #47b2e4;
}

.faq li:hover .pertanyaan{
    color: #47b2e4;
}

.faq ul li div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    text-decoration: none;
}

.faq div div p{
    margin: 0;
    text-align: left;
    color: #37517e;
}

.faq div div{
    gap: .5rem;
    padding: .5rem;
}

.faq .arah{
    margin-top: .5rem;
    overflow: visible;
    text-align: right;
    color: #37517e;
    font-size: 1.5rem;
    font-weight: bolder;
    height: 1.5rem;
    width: 1.5rem;
    rotate: 180deg;
    transition: 500ms;
}

.faq .tanya{
    overflow: visible;
    margin-top: .05rem;
    height: 1rem;
    width: 1rem;
    border: .1rem solid #47b2e4;
    border-radius: 50%;
}

.faq .tanya p{
    overflow: visible;
    color: #47b2e4;
    position: relative;
    bottom: .8rem;
    right: .25rem;
    width: .1rem;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.contact h1{
    color: #37517e;
}

.contact p{
    margin: 0 10%;
}

.wrapper{
    display: flex;
    gap: 1rem;
    padding: 0 10%;
}

.wrapper p{
    margin: 0;
}

.lokasi{
    flex: 1;
    text-align: left;
    border: solid .2rem #47b2e4;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 1rem .1rem #f3f5fa;
}

.lokasi div{
    margin-left: 1rem;
    display: flex;
    padding: .5rem;
}

.lokasi div img{
    margin-top: .1rem;
    height: 1rem;
    width: 1rem;
}

.peta{
    width: 90%;
    margin: 5%;

}


.lokasi div div{
    width: 100%;
    padding: 0;
    display: inline;
}

.pesan{
    flex: 2;
    padding: 2rem;
    text-align: left;
    color: #474747;
    border: solid .2rem #47b2e4;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 1rem .1rem #f3f5fa;
}

.pesan form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pesan form div{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.pesan form div label{
    flex: 1;
}

.pesan form input{
    display: block;
    width: 100%;
    height: 3rem;
    border: solid .1rem #e7e7e7;
}

.pesan form #message{
    display: block;
    border-color: #e7e7e7;
    width: 100%;
    height: 15rem;
}

.pesan form button{
    margin: 1rem 40%;
    margin-bottom: 0;
    height: 3rem;
    width: 9rem;
    border: none;
    border-radius: 3rem;
    background-color: #47b2e4;
    color: #fff;
}

.sub{
    display: flex;
    flex-direction: column;
    background-color: #f3f5fa;
    text-align: center;
    gap: 2rem;
    padding: 3rem;
}

.sub h1{
    color: #37517e;
}

.sub p{
    margin: 0 10%;
}

.sub .subbar{
    display: flex;
    justify-content: center;
    height: 3rem;
}

.sub .subbar :first-child{
    position: relative;
    left: 1rem;
    background-color: #fff;
    width: 50%;
    border-radius: 3rem;
}
.sub .subbar :last-child{
    position: relative;
    right: 1rem;
    background-color: #47b2e4;
    width: 15%;
    border-radius: 3rem;
    color: #fff;
    padding-top: .7rem;
    padding-left: .3rem;
}

footer .links{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 1rem;
    color: #37517e;
}

footer .links ul{
    list-style-type: none;
}

footer .links ul li{
    color: black;
}

footer .links a{
    text-decoration: none;
    color: black;
}

footer .links :last-child{
    width: 10rem;
}

footer .links .logo{
    margin-top: .5rem;
    display: flex;
    gap: .5rem;
}

footer .links .logo img{
    width: 2rem;
}
